In [1]:
# загрузка основных модулей

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [9]:
# загрузка исходных данных

from sklearn.datasets import load_boston
boston = load_boston()

data = boston["data"]
feature_names = boston["feature_names"]
target = boston["target"]

# X матрица признаков
X = pd.DataFrame(data, columns=feature_names)


X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [10]:
# y вектор результатов (цена недвижимости)
y = pd.DataFrame(target, columns=["price"])

y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [11]:
# разбиваем выборку на Обучающую и тестовую

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [13]:
# создаем модель

from sklearn.ensemble import RandomForestRegressor 
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [15]:
# делаем предсказание для тестовых данных

y_pred = model.predict(X_test)

y_pred.shape

(152,)

In [16]:
# расчет параметра детерминации r2
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
r2

0.87472606157312